<h1>Show Article "<%= @article.title%>" </h1>
<p>
Description: <%= @article.description%>
</p>
<%= link_to "Edit this Article", edit_article_path(@article)%>|
<%= link_to "articles", articles_path%>
