<div class="container">
  <div class="footer">
    <small>Copyright &copy; <a herf="#">Corporate link</a></small>

    <nav>
      <ul>
        <li><%= link_to 'About', pages_about_path %></li>
      </ul>
    </nav>
  </div>
</div>